{% extends 'student_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Application success{% endblock %}

{# ------------------------------------------------- #}
{% block jobsLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<p></p>
<br>
		<h1>
			Thnak you for applying you will hear from us soon {{first}}
		</h1>


{% endblock %}
